.navbar-brand {
  position: relative;
}
.navbar-brand>img {
  align-items: center;
  width: 50%;
  margin-left: 250%;
}
.nav-link{
  color: #909090;
  text-decoration: none;
  background-color: white;
}

.nav-link.active{
  color: #0480C8;
  border-bottom: 1px solid #ff9153;
}

.nav-link.hover{
  color: white;
}

.nav-item{
  color: black;
  background-color: white;
}

.heading{
  color: #909090;
  font-size: 3em;
  padding: 20px 20px 20px 0;
}

.button{
  background-color: #00C853;
  color: #ffffff;
  padding: 20px 150% 20px 20px;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: 1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.header {
  color:#00C853;
}

.box-1{
  border: 2px solid #909090;
  padding: 50px;
}